*{
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_box{
    width: 600px;
    height: 500px;
    background-color: beige;
    border-radius: 5px;

}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.emoji_display{
    width: 100px;
    height: ;
}