*{
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner_box{
    width: 600px;
    height: 500px;
    background-color: beige;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.emoji_display{
    width: 250px;
    height: 200px;
    background-color: rgb(182, 154, 154);
    border-radius: 5px;     
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 30px;   
    font-size: 120px;
}

button{

    width: 40%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: #764ba2;
    color: white;
    transition: background-color 0.3s;
}